<footer class="site-footer">

	<div class="wrapper">
		<div class="container">
			<div class="row">
				<p class="col-md-7">
					<a href="{{ site.url }}">{{ site.site_name }}</a> is hosted by <a href="https://pages.github.com/">Github Pages</a>.<br/>
					&copy;
						<script>
							const startYear = 2016;
							let thisYear = new Date().getFullYear();
							console.log(thisYear);
							document.write((startYear + (thisYear > startYear ? '-' + thisYear : '')).trim());
						</script>, {{ site.title }}.
				</p>
				<ul class="social-links col-md-5">
					<li>
						<a href="https://github.com/dawneraq"><i class="fa fa-github fa-lg" aria-hidden="true"></i> Github</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/dawneraq"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</footer>