$newline: '\A';

// For testing PDF formatting
@media print {
	body {
		width: 8.5in;
		height: 11in;
		background: purple;
	}
}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 9.5pt;
	padding: 0 0.25in 0.25in;
}

section {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	// margin-bottom: 0.05em;

	& > ul {
		list-style-type: none;
		padding-left: 0;
		margin-top: 0.3em;
		margin-bottom: 0.3em;

		& > li > ul {
			list-style-type: disc;
			padding-left: 2em;

			& > li:not(.date) {
				max-width: 77%;
				text-align: justify;

				& > ul {
					list-style-type: circle;
					padding-left: 2em;
				}
			}
		}
	}
}

h1 {
	font-variant: small-caps;
	font-family: 'Montserrat', sans-serif;
	font-size: 3.8em;
	margin: 0 auto;
	display: inline-block;
	float: left;
}

h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-variant: all-caps;
}

h2 {
	margin-bottom: 0;
	font-size: 11pt;

	&:nth-of-type(n+1) {
		margin-top: 0;
	}
}

h3 {
	margin: 0 auto;
	font-size: 10pt;
}

#contact-info {
	width: 100%;
	border-bottom: 2px solid black;
	margin-bottom: 0.5em;
}

#main-contact-info {
	float: left;
  padding: 0 0 0 1em;
	margin: 0;

	& > li {
		display: inline;
		list-style-type: none;

		&:after {
			content: $newline;
			white-space: pre;
		}
	}
}

a {
	color: blue;
}

.address {
	float: right;

	&-permanent {
		padding-right: 1em;
	}
}

address {
	font-style: normal;
}

.position-held, .project-name, .location {
	&:before {
		content: ' | ';
	}
}

#education {
	clear: both;
}

.date {
	float: right;
	list-style-type: none;
}

#skills {
	width: 53%;
	margin-right: 2.5%;
}

h4 {
	margin: 0.3em auto 0.1em;
	font-size: 10pt;
}

#academic-honors {
	width: 44%;
}

.highlight {
	background-color: purple;
}
